header{
    display: flex;
    padding: 15px;
    position: fixed; 

    width: 100%;

    align-items: center;
    justify-content: space-between;
    
    background-color: rgb(255, 255, 255);

    z-index: 1;
}

header img{
    width: 40px;
}

header img:hover{
    cursor: pointer;
    box-shadow: 0 0 5px var(--color-primary-blue);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

header ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

ul li{

    font-size: 1.3em;
}

header img:hover{
    cursor: pointer;
    box-shadow: 0 0 5px var(--color-primary-blue);
    transition: 0.2s ease-in-out;
}

header ul li:hover{
    scale: 1.1;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: var(--color-primary-blue);
}

/*Menu movel*/

.menu-mobile{
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    

    background-color: var(--color-primary-darkblue);
    height: 100vh;

}

.menu-mobile ul{
    width: 100%;
    flex-direction: column;
    text-align: right;
    gap: 10PX;
}  

.menu-mobile ul a li{
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    padding: 20px 10px;
}

.menu-mobile ul a li:hover{
    background-color: var(--color-primary-blue);
    width: 100%;
    color: var(--color-primary-darkblue);
}

.menu-mobile .btn-close{
    padding: 20px 4%;
}

.menu-mobile .btn-close i{
    color: var(--color-primary-green);
    font-size: 30px;

}

.menu-mobile .btn-close i:hover{
    cursor: pointer;
    color: var(--color-primary-blue);
}