

main{
    display: flex;
    flex-direction: column;
    background-color: blue;
}

/*Classe geral para todas as sectios da main*/

.main-container{
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}





