

main{
    display: flex;
    flex-direction: column;
}

/*Classe geral para todas as sectios da main*/

.main-container{
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/*Section sobre nos*/

#sobre-nos{
    background-color: var(--color-primary-darkblue);
}

.content{
    display: flex;
    flex-direction: column;

    width: 60%;

}

#quem-somos{
    margin-top: 5%;
}

.content h2{
    font-size: 2em;

}

.content div{
    display: flex;
    gap: 50px;
}

.content:hover{
    scale: 1.1;
    color: white;

    transition: 0.3s ease-in-out;
}

.content div p{
    font-size: 1.5em;
}

#nosso-objetivo{
    position: relative;
    right: 5%;
}

.content div img{
    width: 200px;

}

.content div img:hover{
    scale: 1.4;
    transition: 0.5s ease-in-out;
}

/*Section Clientes*/

#clientes{
    display: flex;
    flex-flow: row wrap;
    padding: 90px;

    background-color: rgb(197, 197, 224);
}

.container-card{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.8;
    
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-card:hover{
    scale: 1.1;
    transition: 0.5s ease-in-out;
    opacity: 1;
}

.container-card h2{
    font-size: 3em;
}

.container-card p{
    display: flex;
    position: absolute;
    text-align: center;
    width: 20%;
    font-weight: 800;
    font-size: 1.5em;
    opacity: 0;

}

.container-card p:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    text-align: center;
    width: 90%;

    font-weight: 800;
    font-size: 2em;
    opacity: 1;

   background-color: rgba(0, 0, 0, 0.41);
   color: white;
   border-radius: 15px;

   padding: 10px;


}

.container-card div img{
    width: 500px;
    border-radius: 10px;
}


/*Area contato com display grid*/

#contato{
    background-color: rgb(79, 139, 79);
    justify-content: center;
    align-items: center;
}

#content-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "title-contact ."
    "name img-contato"
    "fone img-contato"
    "email img-contato"
    "button-contatar .";

    background-color: white;
    width: 35%;
    height: 70vh;

    border-radius: 10px;

    place-items: center;

    box-shadow: 0 0 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.inputs label{
    font-size: 1.3em;
}


#title-contact{
    grid-area: title-contact;


    font-size: 2.5em;
}

#container-name{
    grid-area: name;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#container-fone{
    grid-area: fone;
}

#container-email{
    grid-area: email
}

#img-contato{
    grid-area: img-contato;

    align-items: center;

    width: 100px;
    
}

#img-contato:hover{
    cursor: pointer;
    scale: 1.1 ;
    transition: 0.3s ease-in-out;

}

#button-contatar{
    grid-area: button-contatar;


}

#button-contatar:hover, #button-contatar:active{
    background-color: var(--color-primary-green);
    color: white;
}

