@media(max-width: 1400px){

    /*Header*/
    header{
        padding: 5px;
    }

    header img{
        width: 40px;
        margin-left: 15px;
    }
    
    /*Somos nos*/
    
    .content h2{
        font-size: 1.5em;
    
    }


    .content div p{
        font-size: 1.2em;
    }

    .content div img{
        width: 130px;
    
    }

    /*Cliente*/

    .container-card{
        margin-top: 1px;
    }

    .container-card h2{
        font-size: 2em;
    }

    .container-card div img{
        width: 300px;
    }

    .container-card p:hover{
        font-size: 1.2em;
    }

    /*contato*/

    #content-container{
        width: 50%;
    }


}

@media(max-width: 1000px){

     /*Header*/
    
    header img{
        width: 30px;
    }
    
    header ul{
        margin-right: 30px;
    }
    
    ul li{

        font-size: 1em;
    }

    /*Somos nos*/
    
    .content h2{
        font-size: 1.3em;
        
    }
    
    
    .content div p{
        font-size: 1em;
    }
    
    .content div img{
        width: 120px;
        height: 40%;
        
    }

    /*Cliente*/

    .container-card{

        margin-left: 2px;
        margin-right: 2px;
    }

    .container-card h2{
        font-size: 1.5em;
    }

    .container-card div img{
        width: 200px;
    }

    .container-card p:hover{
        font-size: 0.8em;
    }

    /*contato*/

    #content-container{
        width: 80%;
    }
}

@media(max-width: 800px){
    header{
        background-color: transparent;
        padding: 25px 0;
    
    } 

    header img{
        width: 40px;
        border-radius: 100%;
    }

    .menu-desktop{
        display: none;
    }

        /*Somos nos*/
        .content{
            width: 70%;
        }
    
        .content h2{
            font-size: 1.3em;
            
        }
        
        
        .content div p{
            font-size: 1em;
        }
        
        .content div img{
            width: 100px;
            height: 10vh;
            
        }
    
        /*Cliente*/
        #clientes{
            padding: 20px;
        }
    
        .container-card{
        
    
            margin-left: 2px;
            margin-right: 2px;

        }
    
        .container-card h2{
            font-size: 1.5em;
        }
    
        .container-card div img{
            width: 200px;
        }
    
        .container-card p:hover{
            font-size: 0.8em;
        }
    
        /*contato*/
    
        #content-container{
            width: 70%;
            height: 60vh;
            padding: 0 15px;

        }

        #content-container img{
            margin-left: 20px;
            width: 90px;
        }


}